<!--SSN-->
<div class="form-group">
    <label>SSN :</label>
    <input name="User.SSN" class="form-control" />
</div>
<!--Full Name-->
<div class="form-group">
    <label>Full Name :</label>
    <input name="User.FullName" class="form-control" />
</div>
<!--Gender-->
<div class="form-group">
    <label>Gender :</label>
    <select name="User.Gender" class="form-control">
        <option disabled selected>-- Choose Gender --</option>
        <option value="true">Male</option>
        <option value="false">Female</option>
    </select>
</div>
<!--BirthDate-->
<div class="form-group">
    <label>Birth Date :</label>
    <input name="User.BirthDate" type="date" class="form-control" />
</div>
<!--Phone-->
<div class="form-group">
    <label>Phone :</label>
    <input name="User.Phone" class="form-control" />
</div>
<!--Email-->
<div class="form-group">
    <label>Email :</label>
    <input type="email" name="User.Email" class="form-control" />
</div>
<!--Password-->
<div class="form-group">
    <label>Password :</label>
    <input type="password" name="User.Password" class="form-control" />
</div>
<div class="form-group">
    <label>Confirm Password :</label>
    <input type="password" class="form-control" />
</div>
<!--Street-->
<div class="form-group">
    <label>Street :</label>
    <input name="User.Street" class="form-control" />
</div>
<!--City-->
<div class="form-group">
    <label>City :</label>
    <input name="User.City" class="form-control" />
</div>
<!--Country-->
<div class="form-group">
    <label>Country :</label>
    <input name="User.Country" class="form-control" />
</div>
